<div class="col-sm-10 col-sm-offset-1">
	<div class="col-sm-6">
		<h2>Register</h2>
		<input type="text" class="form-control" ng-model="registration.firstName" placeholder="First Name">
		<input type="text" class="form-control" ng-model="registration.lastName" placeholder="Last Name">
		<input type="text" class="form-control" ng-model="registration.email" placeholder="Email Address">
		<input type="text" class="form-control" ng-model="registration.username" placeholder="Choose a Username">
		<input type="password" class="form-control" ng-model="registration.password" placeholder="Choose Password">
		<input type="password" class="form-control" ng-model="registration.checkPass" placeholder="Re-Enter Password">
		<button ng-click="registerUser()">Join the Realm</button>
	</div>
	<div class="col-sm-6">
	<h2>Login</h2>
		<input type="text" class="form-control" ng-model="login.username" placeholder="Username">
		<input type="password" class="form-control" ng-model="login.password" placeholder="Password">
		<button ng-click="loginUser()">Enter the Realm</button>

	</div>
</div>