<div ng-controller="ProfileController">
<h1>
	Welcome {{user.username}}
</h1>
{{user.firstName}}
{{user.lastName}}
<a ng-click="back()">back</a> 
<div>
	<h2>Change Password</h2>
	<input type="text" class="form-control" ng-model="changePass.username" placeholder="Username">
	<input type="password" class="form-control" ng-model="changePass.oldPass" placeholder="Old Password">
	<input type="password" class="form-control" ng-model="changePass.newPass" placeholder="New Password">
	<input type="password" class="form=control" ng-model="changePass.newPassCheck" placeholder="Re=Enter New Password">
</div>
<button id="passChange" ng-click="changePass()">Change Password</button>
</div>